<%- include("header") -%>
<h1>EJS header and footer test</h1>
<p>By create the web page template for the duplicate part code,</p>
<p>we can use include("filename")to implement it</p>
<%- include("footer") -%>
